<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.css}">
</head>
<body>

<div class="container">
    <form method="post" th:action="@{/post/form}" th:object="${post}">
        <input type="hidden" th:field="*{id}">
        <div class="mb-3">
            <label for="title" class="form-label">제목</label>
            <input type="text" class="form-control" id="title" th:field="*{title}"
             th:classappend="${#fields.hasErrors('title')}? 'is-invalid'">
            <div class="invalid-feedback" th:if="${#fields.hasErrors('title')}" th:errors="*{title}">
                제목 에러 메세지
            </div>
        </div>
        <div class="mb-3">
            <label for="content" class="form-label">내용</label>
            <textarea class="form-control" id="content" rows="3" th:field="*{content}"
             th:classappend="${#fields.hasErrors('content')}? 'is-invalid'">내용</textarea>
        </div>
        <div class="invalid-feedback" th:if="${#fields.hasErrors('content')}" th:errors="*{content}">
            내용 에러 메세지
        </div>
        <div class="text-end">
            <a type="button" class="btn btn-outline-primary" th:href="@{/post/list}">취소</a>
<!--            <button type="button" class="btn btn-outline-primary" sec:authorize="hasRole('ROLE_ADMIN')"-->
<!--                    th:onclick="|deleteBoard(*{id})|">삭제</button>-->
            <button type="submit" class="btn btn-outline-primary">확인</button>
        </div>
    </form>
</div>



<script th:src="@{/js/bootstrap.js}"></script>
</body>
</html>